*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  overflow: scroll;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
}
::-webkit-scrollbar {
  width: 0; 
  background: transparent;  
}
::-webkit-scrollbar-thumb {
  background: #FF0000;
}